body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.FastFood {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 20px auto;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product img {
    width: 200px;
    height: 200px;
}
.product .shake{
    width: 90px;
    height: 200px;
}
.product h2 {
    margin: 10px 0;
}
.product p {
    margin: 10px 0;
    font-size: 18px;
}
.product .buy {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 13px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-controls button {
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-controls span {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .FastFood {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .product {
        padding: 10px;
    }
    
    .buy {
        padding: 5px 10px;
        font-size: 13px;
    }
}
